<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Jogoteca</title>
    <style>
    
      body {
          background-image: linear-gradient(to right, #48c6ef, #6f86d6);
          }
          
      button {
        width: 600px;
        padding: 25px 40px;
        border: 50px solid #eee;
        border-radius: 20px;
        background-color: #FCC302;
        font-size: 18px;
        align-items: center;
        }
      </style>
</head>
<body style="font-family:Helvetica">
    <div class="container">
      <div class="page-header">
          <h1 style="color: white; font-size: 50px; margin: 50px 0; text-align:center; text-shadow: 2px 2px 5px red; "><b>{{ titulo }}</b></h1>
      </div>
      <form action="/criar" method="post">
        <fieldset>
          <div class="form-group" >
            <label style="font-size: 32px; margin: 10px 0; color: white" for="nome">Nome</label>
            <input type="text" id="nome" name="nome" class="form-control">
          </div>
          <div class="form-group">
            <label style="font-size: 32px; margin: 10px 0; color: white" for="categoria">Categoria</label>
            <input type="text" id="categoria" name="categoria" class="form-control">
          </div>
          <div class="form-group">
            <label  style="font-size: 32px; margin: 10px 0; color: white" for="console">Console</label>
            <input type="text" id="console" name="console" class="form-control">
          </div>
          <div style="text-align:center; margin: 50px 0;">
          <button style="font-size: 25px; margin: 25px 0; text-align:center " type="submit" class="btn btn-primary btn-salvar">Salvar</button>
          </div>
        </fieldset>
      </form>
    </div>
</body>
</html>